.display-ramen {
  background-color: #e9e6e6;
  width: 51%;
  height: 77vh;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  float: right;
}

.img {
  float: left;
}
