.display-ramen {
  /* background-color: #e2d5d5; */
  width: 50%;
  margin: 0 auto;
  text-align: center;
  /* float: right; */
  top: 150px;
  right: 0px;
  position: absolute; /* position:static doesn't disturb any components, but position: absolute disturb other components based on top, right etc... */

  width: 75vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  float: left;
}
