.ramen-logo {
  font-family: 'Monoton', cursive;
  font-family: 'Lobster', cursive;
  font-size: 55px;
  color: white;
  display: block;
  margin: 30px;
}

.ramen-form {
  background-color: red;
  font-size: 16px;
  width: 100%;
  display: inline-block;
}

.ramen-filter {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.box {
  margin-left: 10px;
}
