.list-ramen-container {
  width: 38%;
  height: 600px;
  overflow: scroll;
  display: inline-block;
}

.list-ramen {
  background-color: #e9e6e6;
  left: 20px;
}

.ramen {
  /* display: inline; */

}

.ramen-title {
  font-size: 20px;
  font-style: strong;
}

.ramens {
  font-size: 16px;
}

/* .shop-title {
  margin-bottom: -10px;
} */
